*{
    margin:0;
    float:10%;
    padding: 0;}
    
    body{
        background-color:#8000ff;
        text-transform:uppercase;
        text-decoration: none;}
    
    .faxa{
        background-color: black;
        position:fixed;
        width:100%;
        height: 9%;}
    
    h2{
        color:white;
        font-size: 17px;
        font-family: 'M PLUS 2', sans-serif;
        transform: translate(15%,110%);
        position:relative;}
    
    .logo{
        height:70%;
        transform: translate(20%,-55%);
        position:absolute;}
        
    .sep span{
        position:absolute;
        height:40px ;
        border: 4px solid rgb(255, 255, 255);
        border-right:none;
        border-top:none;
        transform: translate(145px,-10%);}
    
    .box{
        width: 70%;
        padding: 40px;
        position: absolute;
        transform: translate(0px,15%);
        background: #191919;
        text-align: center;
        height: 24s0px;
        height: 35%;
        border-radius: 0px 10px 10px 10px;}
    
    .box h1{
        text-transform: uppercase;
        font-weight:1;
        transform: translate(-40%,-50%);
        color:white;
        font-size: 29px;}
    
    .box input[type="date"],.box input[type="email"],.box input[type="tel"],#enviar{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        border: 3px solid #2e2d2d;
        padding: 5px 10px;
        width: 400px;
        outline: none;
        color: #2E2D2D;
        border-radius: 7px;
        transform: translate(-60%,0%)}
    
    .fundo{
        background-color: rgb(228, 228, 228);
        height:80px;
        width: 100%;
        position:relative;
        transform: translate(0%,65%);
        box-shadow: 0px 10px 60px #2E2D2D;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;}
    
    .fundo h3{
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-size: 30px;
        margin-left: 2%;
        font-weight: 350;} 
    
    p{
        margin-left: 2%;
        text-transform: lowercase;}
    
    .box input[type ="text"]{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        border: 3px solid #2e2d2d;
        padding: 50px 10px;
        width: 400px;
        outline: none;
        color: #2E2D2D;
        border-radius: 7px;
        transform: translate(-60%,-0%);}
    
    input[type="text"]::placeholder{
        transform: translate(0%,-250%);}
    
    #enviar{
        width: 15%;
        transform: translate(100%,-160%);}
    
    #enviar:hover{
        transition: .4;
        background-color:#1d1b1b;
        cursor:pointer;}
    
    .btn a{
        display: inline-block;
        transform: translate(300px,-70%);
        margin-left: 8%;
        text-decoration:none ;
        color:white; 
        font-size: 13px;
        border-radius: 10px;}
    
    .btn{
        display:inline;}
    
    .btn a:hover{
        color: blueviolet;}
    
    .btn a:active{
        color: rgb(88, 23, 149);}
    
    #enviar:active{
        background-color: #0f0c0c;
        color: #2E2D2D;}
    
    