*{
    margin:0px;
    float:10%;
    padding: 0;}
   
   h2{
    margin-top: 98px;
    margin-left: 10px;
   }
   
   p{
    font-size:13px;
    position: relative;
    margin-top: 0%;
    margin-left: 19px;}
   
   body{
    background-color: #8000ff;
   }
   
   .faixa{
    background-color: #121212;
    height: 100px;
    width: '';
    position: absolute;
    margin-top:px;
   }